<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cjf.lianxi0509.dao.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="io.cjf.lianxi0509.po.RoleMenuKey">
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <id column="menu_id" jdbcType="INTEGER" property="menuId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="io.cjf.lianxi0509.po.RoleMenuKey">
    delete from lx_role_menu
    where role_id = #{roleId,jdbcType=INTEGER}
      and menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="io.cjf.lianxi0509.po.RoleMenuKey">
    insert into lx_role_menu (role_id, menu_id)
    values (#{roleId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="io.cjf.lianxi0509.po.RoleMenuKey">
    insert into lx_role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!--custom sql-->
  <select id="selectUrls" resultType="java.lang.String">
    SELECT distinct url FROM lx_role_menu as rm left join lx_menu as m on rm.menu_id = m.menu_id
    where role_id in
    <foreach item="roleId" index="index" collection="roleIds"
             open="(" separator="," close=")">
      #{roleId}
    </foreach>
  </select>
  <select id="selectMenuIds" resultType="java.lang.Integer">
    SELECT menu_id FROM lx_role_menu
    where role_id in
    <foreach item="roleId" index="index" collection="roleIds"
             open="(" separator="," close=")">
      #{roleId}
    </foreach>
  </select>
</mapper>